.logo_place_header {
  background-image: url(../../images/logo/logo_place_header.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 64px;
  top: 30px;
  height: 32px;
  transition: opacity 0.5s linear;
}

.logo_place_header:hover {
opacity: 0.5;
}
