@import url(../vendor/normalize.css);
@import url(../root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
@import url(../blocks/rotation/rotation.css);
@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__paragraph/_last-child/two-columns__paragraph_last-child.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);


@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.feynman {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  min-height: 790px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#f2f2f2;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  }

.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  background-color:  #1f1f1f;
  margin: 0 auto;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  }

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  margin-top: 80px;
  color: white;
  width: 200px;
  }

.footer {
  background-color:  #1f1f1f;
  min-height: 350px;
  display: flex;
  }

.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  }

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-basis: 711px;
  }

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  }

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  }

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  padding-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  padding-left: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

a {
transition: opacity 0.5s linear;
}
a:hover {
  opacity: 0.5;
}

